{{ define "main" }}
  <div class="article-head">
    <h1 class="article-title-header">{{ .Title }}</h1>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <div class="published-content">
      Published <time class="humanized-publish-date" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </div>

    <hr />
  </div>

  <div class=".page-content">
    {{ .Content }}
  </div>

  <hr />

  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
