/*
 * Static fonts for beautiful typography. All fonts are open source and
 * provided by Google.
 */
@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/EBGaramond/EBGaramond-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/EBGaramond/EBGaramond-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EBGaramond";
  src: url("/fonts/EBGaramond/EBGaramond-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

html,body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
}

body {
  background-color: rgb(255, 254, 248);
  width: 100%;
}

/*
 * --- Begin header section ---
 */
header {
  height: 175px;

  /* Overlap with the content box */
  width: 70%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  /* Flex-box settings */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-title-container {
}

.header-links-container {
  width: 75%;
}

.header-links-container nav {
}

.header-links-container ul {
  list-style-type: none;

  /* Links are treated as a flexbox items */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 25px;
}

.header-links-container li {
  font-family: "EBGaramond";
  font-size: 1.0em;
  display: block;
}

.header-links-container a {
  color: black;
  text-decoration: none;
}

.header-links-container a:active {
  text-decoration: underline;
}

#site-title {
  font-family: "EBGaramond";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8em;
}

/*
 * --- Begin list items section ---
 */
.article-summary-title {
  font-family: "EBGaramond";
  font-size: 1.8em;
  font-style: italic;
  font-weight: normal;
}

.read-more-link {
  font-family: "EBGaramond";
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
}

/*
 * --- Begin content body section ---
 */
main {
  width: 70%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

main h1,h2,h3,h4,h5,h6 {
  font-family: "EBGaramond";
  font-style: normal;
  font-weight: normal;
}

.page-content h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

main .article-title-header {
  font-style: italic;
  font-size: 1.8em;
}

main .list-title-header {
  font-style: bold;
  font-size: 1.8em;
}

main .published-content {
  font-family: "EBGaramond";
  font-size: 1.0em;

  /* Give room to the horizontal rule */
  margin-bottom: 25px;
}

main p {
  font-family: "EBGaramond";
  font-size: 1.0em;
  line-height: 2.0;
}

main pre {
  white-space: pre-wrap;
}

main code {
  font-family: monospace;
}

/*
 * --- Begin footer section ---
 */
footer {
  height: 80px;

  /* Space out from content */
  margin-top: 50px;

  /* Overlap with the content box */
  width: 70%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

p.copyright-statement {
  font-family: "EBGaramond";
  font-size: 1.0em;
  font-style: italic;
}
